@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 20px;
  }

  .text-blue-title {
    color: #353f5f;
    /* @aply text-sky-700; */
  }

  .text-2xs {
    font-size: 0.464rem;
  }
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  padding-block: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  width: max-content;
  animation: marqueeLeftRight 30s linear infinite;
  animation-direction: var(--dir);
}

@keyframes marqueeLeftRight {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animated-link {
  padding: 0.5em 0.8em;
}

.animated-link:hover .hover-arrow .hover-arrow-tip {
  transform: translateX(0.15em);
}
.animated-link:hover .hover-arrow .hover-arrow-line {
  display: block;
}

.hover-arrow {
  position: relative;
  top: 1px;
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
}
.hover-arrow .hover-arrow-line {
  display: none;
}
.tab_active {
  @apply border-b-purple-500 border-b-2 text-purple-500;
}
.yaml_key {
  @apply text-blue-300;
}
.yaml_val_str {
  color: #d8fa3c;
}
.hljs-title {
  color: #f22c3d;
}
.hljs-attr,
.hljs-number {
  color: #df3079;
}
.hljs-string {
  color: #d8fa3c;
}
.letter {
  @apply rounded-lg px-4 py-5 bg-white text-purple-500 text-lg font-bold;
}
@layer base {
  h1 {
    @apply text-2xl md:text-6xl font-black;
  }
  h2 {
    @apply text-xl md:text-5xl font-bold;
  }
  h3 {
    @apply text-xl md:text-4xl font-bold;
  }
  h4 {
    @apply text-lg md:text-xl font-bold;
  }
  img {
    @apply max-w-full;
  }
}
.our_container {
  width: min(100%, 896px);
  padding-inline: 10px;
}
.header_scrolled {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  @apply border-b;
}
