<footer class="border-t border-silver-200 bg-gray-100 text-center" aria-labelledby="footer-heading">
  <section class="our_container inline-block max-w-5xl text-left">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="py-12 lg:py-16 px-4">
      <div class="w-full">
        <ul role="list" class="flex w-full justify-center gap-4 mt-4 text-sm text-gray-600">
          <li>
            <a href="https://www.apitoolkit.io" class="text-sm hover:text-gray-900"> APIToolkit </a>
          </li>
          <li>
            <a href="/docs/" class="text-sm hover:text-gray-900"> Documentation </a>
          </li>
          <li>
            <a href="https://github.com/apitoolkit/testkit" class="text-sm hover:text-gray-900"> Github </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>